.login__bg{
    background-image: url("../assets/loginBg.jpg");
    height: 92vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;

}